/* Root Variables and Theme Settings */
:root {
  --c-bg: #ffffff;
  --c-accent: #FF6C00;
  --c-base: #000000;
}

[data-theme="dark"] {
  --c-bg: #000000;
  --c-accent: #FFA500;
  --c-base: #ffffff;
}

/* Global Styles */
* {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

body {
  background-color: var(--c-bg);
  color: var(--c-base);
}

/* Typography */
p, .footnote {
  color: var(--c-base);
  margin: 1em auto;
  line-height: 1.4em;
  max-width: 800px;
}

p {
  font-size: 18px;
}

.footnote {
  font-size: 12px;
}

a {
  color: var(--c-accent);
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: var(--c-base);
  text-align: center;
  position: relative;
}

h1 {
  color: var(--c-accent);
  margin: 0.4em 0 0.8em;
}

h1 span {
  position: relative;
  z-index: 2;
}

h2 {
  margin: 2.5em 0 1em;
}

h3, h4 {
  margin: 2em auto 0.5em;
  max-width: 800px;
}

h4 {
  font-size: 18px;
}

/* Navigation */
nav {
  background-color: var(--c-bg);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: var(--c-accent);
  text-align: center;
  padding: 16px 16px 0px 16px;
  text-decoration: none;
}

nav li.active a {
  font-weight: bold;
}

#mode-toggle {
  cursor: pointer;
}

/* Responsive Navigation */
@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    display: inline-block;
    margin: 0px 5px 0px 5px;
  }
}

/* Blockquote */
blockquote {
  border-left: 3px solid var(--c-accent);
  padding: 0 10px;
  margin: 0;
  max-width: 800px;
}

/* Buttons */
.button,
.button:visited,
#search-form button {
  background-color: var(--c-accent);
  color: var(--c-bg);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 0.5em;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover,
#search-form button:hover {
  background-color: rgba(var(--c-accent), 0.8);
  color: rgba(var(--c-bg), 0.8);
}

/* Track Styles */
.track-grid {
  display: grid;
  gap: 35px;
  max-width: 800px;
  margin: 0 auto;
  justify-items: center;
}

@media (min-width: 600px) {
  .track-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
  .track-grid { grid-template-columns: repeat(3, 1fr); }
}

.track-list {
  margin: 0 20px;
}

.track {
  border-radius: 5px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 200px;
}

.track_content {
  margin-top: 5px;
}

.track_link {
  text-decoration: none;
  color: var(--c-accent);
}

.track_artist {
  color: var(--c-accent);
  text-align: left;
  font-size: 16px;
  margin: 0;
}

.track_name {
  font-size: 15px;
  margin: 0;
  color: var(--c-base);
}

.track_album {
  font-size: 14px;
  margin: 0;
  font-style: italic;
}

.track_none, .track_video {
  margin: 0 auto;
  font-size: 18px;
}

.track_none {
  max-width: 800px;
}

.track_video {
  max-width: 500px;
}

.track_image {
  position: relative;
  max-width: 200px;
  border-radius: 10px;
  z-index: 2;
}

.track_image:hover {
  transition: all 180ms ease-in-out;
  transform: translateY(-5px) rotate(-5deg);
}

.track_ol, .track_ul, .track_ul2 {
  margin: 0.1em auto 0;
  font-size: 18px;
  line-height: 1.4em;
  max-width: 800px;
}

.track_ul, .track_ul2 {
  overflow: auto;
}

.track_ul {
  margin: 0.4em auto 1.5em;
}

.track_ul img, .track_ul2 img {
  float: left;
  max-width: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.track_recent {
  margin: 0.2em auto;
  font-size: 18px;
  line-height: 1.2em;
  max-width: 800px;
}

/* No Wrap Text */
.no-wrap-text {
  overflow: hidden;
  text-align: left;
}

.no-wrap-text p {
  margin-top: 0;
  margin-bottom: 0.5em;
  max-width: none;
  line-height: 1.4em;
  font-size: 18px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .track_ul img {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

/* Footer */
.footer {
  color: var(--c-base);
  position: block;
  margin: 5em auto;
  text-align: center;
  line-height: 1.5em;
  max-width: 800px;
}

.footer p {
  font-size: 16px;
}

/* Video Styles */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-holder {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 338px;
}

/* Spotify Iframe */
.spotify-iframe {
  display: block;
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto;
}

/* Error Message */
.error-message {
  color: red;
  text-align: center;
}

/* Center Image */
img.center-image, .centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

img.center-image {
  max-width: 300px;
}

/* Search Form Styles */
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
}

#search-form input,
#search-form button {
  margin-right: 0.5em;
}

#artist-name, #album-name, #song-name, #lastFmUsername, #follow-up-search {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

#artist-name, #album-name, #song-name, #lastFmUsername {
  width: 90%;
  max-width: 300px;
}

#follow-up-search {
  width: 80%;
  max-width: 600px;
}

#artist-name:focus, #album-name:focus, #song-name:focus, #lastFmUsername:focus, #follow-up-search:focus {
  border-color: var(--c-accent);
  box-shadow: 0 0 5px var(--c-accent);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Responsive Search Form */
@media (max-width: 768px) {
  #search-form {
    flex-direction: column;
  }

  #search-form input,
  #search-form button {
    width: 90%;
    max-width: 300px;
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  #search-form button {
    margin-left: 0;
  }
}

/* Image Text Wrapper */
.image-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .image-text-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

/* Artist Image Styles */
.artist_image_wrapper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 15px;
  flex-shrink: 0;
}

.artist_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.artist_image.loaded {
  opacity: 1;
}

.placeholder-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
}

/* Track Item Styles */
.track_item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.track_item_responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 769px) {
  .track_item_responsive {
    flex-direction: row;
    text-align: left;
  }
}