/* Root Variables and Theme Settings */
:root {
  --c-bg: #fafafa;
  --c-bg-rgb: 250, 250, 250;
  --c-accent: #FF6C00;
  --c-accent-rgb: 255, 108, 0;
  --c-base: #000000;
  --c-base-rgb: 0, 0, 0;
}

[data-theme="dark"] {
  --c-bg: #121212;
  --c-bg-rgb: 18, 18, 18;
  --c-accent: #FFA500;
  --c-accent-rgb: 255, 165, 0;
  --c-base: #ffffff;
  --c-base-rgb: 255, 255, 255;
}

/* Global Styles */
* {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

body {
  background-color: var(--c-bg);
  color: var(--c-base);
}

/* Typography */

/* Paragraphs and footnotes */
p,
.footnote {
  color: var(--c-base);
  margin: 1em auto;
  line-height: 1.4em;
  max-width: 800px;
}

p {
  font-size: 18px;
}

.footnote {
  font-size: 12px;
}

/* Links */
a {
  color: var(--c-accent);
  text-decoration: none;
}

/* Headings */
h1 {
  color: var(--c-accent);
  position: relative;
  text-align: center;
  margin: 0.4em 0 0.8em;
}

h1 span {
  z-index: 2;
}

h2,
h3,
h4 {
  color: var(--c-base);
  position: relative;
}

h2 {
  text-align: center;
  margin: 2.2em 0 1em;
}

h3,
h4 {
  text-align: left;
  margin: 2em auto 0.5em;
  max-width: 800px;
}

h4 {
  font-size: 18px;
}

/* Table Styles */
table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  border: 1px solid var(--c-base);
}

/* Navigation */
nav {
  background-color: var(--c-bg);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: var(--c-accent);
  text-align: center;
  padding: 16px 16px 0 16px;
  text-decoration: none;
}

nav li.active a {
  font-weight: bold;
}

.highlight {
  background-color: var(--c-accent);
  color: var(--c-bg); /* Text color should contrast the background */
  padding: 0 4px;
  border-radius: 4px;
}

#mode-toggle {
  cursor: pointer;
}

/* Responsive Navigation */
@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    margin: 0 5px;
  }
}

/* Blockquote */
blockquote {
  border-left: 3px solid var(--c-accent);
  padding: 0 10px;
  margin: 0;
  max-width: 800px;
}

/* Buttons */
.button,
#search-form button {
  background-color: var(--c-accent);
  color: var(--c-bg);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 0.5em;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover,
#search-form button:hover {
  background-color: rgba(var(--c-accent-rgb), 0.8);
  color: rgba(var(--c-bg-rgb), 0.8);
}

/* Track Styles */
.track-grid {
  display: grid;
  gap: 35px;
  max-width: 800px;
  margin: 0 auto;
  justify-items: center;
}

@media (min-width: 600px) {
  .track-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .track-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.track-list {
  margin: 0 20px;
}

.track {
  border-radius: 5px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 200px;
}

.track_content {
  margin-top: 5px;
}

.track_link {
  text-decoration: none;
  color: var(--c-accent);
}

.track_artist {
  color: var(--c-accent);
  text-align: left;
  font-size: 16px;
  margin: 0;
}

.track_name {
  font-size: 15px;
  margin: 0;
  color: var(--c-base);
}

.track_album {
  font-size: 14px;
  margin: 0;
  font-style: italic;
}

.track_playcount {
  color: var(--c-base);
  margin-left: 0;
  font-size: 14px;
}

.track_none,
.track_video {
  margin: 0 auto;
  font-size: 18px;
}

.track_none {
  max-width: 800px;
}

.track_video {
  max-width: 500px;
}

.track_image {
  position: relative;
  max-width: 200px;
  border-radius: 10px;
  z-index: 2;
  transition: all 180ms ease-in-out;
}

.track_image:hover {
  transform: translateY(-5px) rotate(-5deg);
}

.track_ol,
.track_ul,
.track_ul2 {
  margin: 0.1em auto 0;
  font-size: 18px;
  line-height: 1.4em;
  max-width: 800px;
}

.track_ul,
.track_ul2 {
  overflow: auto;
}

.track_ul {
  margin: 0.4em auto 1.5em;
}

.track_ul img,
.track_ul2 img {
  float: left;
  max-width: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.track_recent {
  margin: 0.2em auto;
  font-size: 18px;
  line-height: 1.2em;
  max-width: 800px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .track_ul img,
  .track_ul2 img {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

/* No Wrap Text */
.no-wrap-text {
  overflow: hidden;
  text-align: left;
}

.no-wrap-text p {
  margin-top: 0;
  margin-bottom: 0.5em;
  max-width: none;
  line-height: 1.4em;
  font-size: 18px;
}

/* Footer */
.footer {
  color: var(--c-base);
  margin: 5em auto;
  text-align: center;
  line-height: 1.5em;
  max-width: 800px;
}

.footer p {
  font-size: 16px;
}

/* Video Styles */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-holder {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 338px;
}

/* Spotify Iframe */
.spotify-iframe {
  display: block;
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto;
}

/* Error Message */
.error-message {
  color: red;
  text-align: center;
}

/* Center Image */
img.center-image,
.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

img.center-image {
  max-width: 300px;
}

/* Search Form Styles */
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
}

#search-form input,
#search-form button {
  margin-right: 0.5em;
}

#artist-name,
#album-name,
#song-name,
#lastFmUsername,
#follow-up-search,
#playlist-name,
#genres-input,
#vibe-input,
#objects-input,
#font-input,
#colors-input {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

#artist-name,
#album-name,
#song-name,
#lastFmUsername,
#playlist-name,
#genres-input,
#vibe-input,
#objects-input,
#font-input,
#colors-input {
  width: 90%;
  max-width: 300px;
}

#artist-name:focus,
#album-name:focus,
#song-name:focus,
#lastFmUsername:focus,
#follow-up-search:focus,
#playlist-name:focus,
#genres-input:focus,
#vibe-input:focus,
#objects-input:focus,
#font-input:focus,
#colors-input:focus {
  border-color: var(--c-accent);
  box-shadow: 0 0 5px var(--c-accent);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Responsive Search Form */
@media (max-width: 768px) {
  #search-form {
    flex-direction: column;
  }

  #search-form input,
  #search-form button {
    width: 90%;
    max-width: 300px;
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  #search-form button {
    margin-left: 0;
  }
}

/* Image Text Wrapper */
.image-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .image-text-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .image-text-wrapper .no-wrap-text {
    align-self: flex-start;
    width: 100%;
  }
}

/* Adjust margins of elements inside .image-text-wrapper on smaller screens */
@media (max-width: 768px) {
  .image-text-wrapper img {
    margin-bottom: 15px;
  }
}

/* Artist Image Styles */
.artist_image_wrapper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 15px;
  flex-shrink: 0;
}

.artist_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.artist_image.loaded {
  opacity: 1;
}

.placeholder-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
}

/* Adjust margins for smaller screens */
@media (max-width: 768px) {
  .artist_image_wrapper {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

/* Track Item Styles */
.track_item {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.track_item_responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
  .track_item_responsive {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* Code and Preformatted Text Styles */
code {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(var(--c-accent-rgb), 0.1);
  color: var(--c-base);
  padding: 2px 5px;
  border-radius: 3px;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(var(--c-accent-rgb), 0.1);
  color: var(--c-base);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  max-width: 100%;
  line-height: 1.6em;
  white-space: pre-wrap;
}

/* Dark Theme Code Block */
[data-theme="dark"] code,
[data-theme="dark"] pre {
  background-color: rgba(var(--c-accent-rgb), 0.2);
  color: var(--c-base);
}

/* GuessMe Game Styles */
.conversation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--c-accent);
  border-radius: 5px;
  margin-bottom: 20px;
}

.ai-label {
  color: var(--c-accent);
}

.user,
.assistant {
  margin-bottom: 15px;
}

.user strong,
.assistant strong {
  font-weight: bold;
}

#search-form {
  max-width: 800px;
  margin: 0 auto;
}

#follow-up-search {
  flex-grow: 1;
  margin-right: 10px;
}

.button {
  min-width: 100px;
}

.genre-select {
  background-color: var(--c-bg);
  color: var(--c-base);
  border: 2px solid var(--c-accent);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-left: 0px;
  max-width: 200px;
}

.genre-select:hover {
  border-color: var(--c-accent);
}

.genre-select:focus {
  outline: none;
  border-color: var(--c-accent);
  box-shadow: 0 0 5px var(--c-accent);
}

/* Style for the dropdown arrow */
.genre-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23FF6C00' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 50%;
  padding-right: 30px;
}

/* For Firefox */
.genre-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--c-base);
}

/* For IE and Edge */
.genre-select::-ms-expand {
  display: none;
}

@media (max-width: 768px) {
  .genre-select {
    max-width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}

/* New Styles for Filter Container */
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.filter-container label {
  margin-bottom: 0.1em;
  font-size: 16px;
  color: var(--c-base);
}

/* Styles for search input box */
.search-input {
  padding: 8px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  border: 2px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Hover and focus effects for the search input */
.search-input:focus {
  border-color: var(--c-accent);
  box-shadow: 0 0 5px var(--c-accent);
}

/* Clear search link */
.clear-search-link {
  color: var(--c-accent);
  cursor: pointer;
  transition: color 0.3s ease;
}

.clear-search-link:hover {
  color: rgba(var(--c-accent-rgb), 0.8);
}

.artwork-container {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  margin-right: 1rem;
}

.artwork-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.release-info {
  flex: 1;
  min-width: 0;
  padding: 0.5rem 0;
}

.track_item {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.track_item_responsive {
  flex-direction: row;
}

@media (max-width: 640px) {
  .track_item_responsive {
    flex-direction: column;
  }
  
  .artwork-container {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
