:root {
  --c-bg: #ffffff;
  --c-accent: #FF6C00;
  --c-base: #000000;
}

[data-theme="dark"] {
  --c-bg: #000000;
  --c-accent: #FFA500;
  --c-base: #ffffff;
}


* {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

body {
  background-color: var(--c-bg);
  color: var(--c-base);
}

p {
  color: var(--c-base);
  margin: 1em auto;
  line-height: 1.4em;
  font-size: 18px;
  max-width: 800px;
}

a {
  color: var(--c-accent);
  text-decoration: none;
}

h1 {
  color: var(--c-accent);
  text-align: center;
  margin: 0.4em 0 0.8em; 
  position: relative;
}

h1 span {
  position: relative;
  z-index: 2;
}

h2 {
  color: var(--c-base);
  text-align: center;
  margin: 2.5em 0 1em;
  position: relative;
}

h3 {
  color: var(--c-base);
  margin: 2em auto 0.5em;
  max-width: 800px;
}

h4 {
  color: var(--c-base);
  font-size: 18px;
  margin: 2em auto 0.5em;
  max-width: 800px;
}

nav {
  background-color: var(--c-bg);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: var(--c-accent);
  text-align: center;
  padding: 16px 16px 0px 16px;
  text-decoration: none;
}

nav li.active a {
  font-weight: bold;
}

#mode-toggle {
    cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    display: inline-block;
    margin: 0px 5px 0px 5px;
  }
}

blockquote {
  border-left: 3px solid var(--c-accent);
  padding: 0 10px;
  margin: 0;
  max-width: 800px;
}

.footnote {
  color: var(--c-base);
  margin: 1em auto;
  line-height: 1.4em;
  font-size: 12px;
  max-width: 800px;
}

.button,
.button:visited {
  background-color: var(--c-accent);
  color: var(--c-bg);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 0.5em;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: rgba(var(--c-accent), 0.8);
  color: rgba(var(--c-bg), 0.8);
}

.recent-tracks {

}

.track-grid {
  display: grid;
  gap: 35px;
  max-width: 800px;
  margin: 0 auto;
  justify-items: center;
}

@media (min-width: 600px) {
  .track-grid {  grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
  .track-grid {  grid-template-columns: repeat(3, 1fr); }
}

.track-list {
  margin: 0 20px;
}

.track {
  border-radius: 5px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 200px;
}

.track_content {
  margin-top: 5px;
}
.track_link {
  text-decoration: none;
  color: var(--c-accent);
}
.track_artist {
  color: var(--c-accent);
  text-align: left;
  font-size: 16px;
  margin: 0;
}
.track_name {
  font-size: 15px;
  margin: 0;
  color: var(--c-base);
}
.track_album {
  font-size: 14px;
  margin: 0;
  font-style: italic;
}
.track_none {
  margin: 0 auto;
  font-size: 18px;
  max-width: 800px;
}

.track_video {
  margin: 0 auto;
  font-size: 18px;
  max-width: 500px;
}

.track_image {
  position: relative;
  max-width: 200px;
  border-radius: 10px;
  z-index: 2;
}

.track_image:hover {
  transition: all 180ms ease-in-out;
  transform: translateY(-5px) rotate(-5deg);
}

.track_ol {
  margin: 0.1em auto 0;
  font-size: 18px;
  line-height: 1.4em;
  max-width: 800px;
}

.track_ul {
  margin: 0.4em auto 1.5em;
  font-size: 18px;
  line-height: 1.4em;
  max-width: 800px;
  overflow: auto;
}

.track_ul img {
  float: left;
  max-width: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.track_ul2 {
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4em;
  max-width: 800px;
  overflow: auto;
}

.track_ul2 img {
  float: left;
  max-width: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.no-wrap-text {
  overflow: hidden;
  text-align: left; /* Ensure text is always left-aligned on all screens */
}

.no-wrap-text p {
  margin-top: 0;            /* Remove top margin */
  margin-bottom: 0.5em;     /* Add a smaller bottom margin */
  max-width: none;          /* Remove the max-width restriction for alignment */
  line-height: 1.4em;       /* Retain line-height */
  font-size: 18px;          /* Retain font size */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .track_ul img {
    float: none;
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.track_recent {
  margin: 0.2em auto;
  font-size: 18px;
  line-height: 1.2em;
  max-width: 800px;
}

.footer {
  color: var(--c-base);
  position: block;
  margin: 5em auto;
  text-align: center;
  line-height: 1.5em;
  max-width: 800px;
}

.footer p {
  font-size: 16px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-holder {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 338px;
}

.spotify-iframe {
  display: block;
  border-radius:12px;
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
  color: red;
  text-align: center;
}

img.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

/* Style for the form */
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
}

#search-form input,
#search-form button {
  margin-right: 0.5em; /* Add some space between inputs and buttons */
}

/* Stack text inputs and button vertically on small screens */
@media (max-width: 768px) {
  #search-form {
    flex-direction: column;
  }

  #search-form input,
  #search-form button {
    width: 90%; /* Take up most of the screen width */
    max-width: 300px;
    margin-right: 0; /* Remove right margin for stacked layout */
    margin-bottom: 0.5em; /* Add space between stacked inputs and button */
  }

  #search-form button {
    margin-left: 0; /* Remove left margin for stacked layout */
  }
}

#artist-name, #album-name, #song-name, #lastFmUsername {
  border: 2px solid var(--c-accent);
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  width: 90%;
  max-width: 300px;
}

#follow-up-search {
  border: 2px solid var(--c-accent);
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  width: 80%;
  max-width: 600px;
}

/* Focus styles for input fields */
#artist-name:focus, #album-name:focus, #song-name:focus, #lastFmUsername:focus {
  border-color: var(--c-accent); /* Use the accent color for focused border */
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 5px var(--c-accent); /* Optional: Add a subtle glow around the input when focused */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for focus effects */
}

/* Ensure input fields have a default border for non-focus state */
#artist-name, #album-name, #song-name, #lastFmUsername {
  border: 2px solid #ccc; /* Default border color */
  padding: 8px; /* Ensure padding is consistent */
  border-radius: 4px; /* Rounded corners */
}

#search-form button {
  background-color: var(--c-accent);
  color: var(--c-bg);
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 0.5em;
  transition: background-color 0.3s, color 0.3s;
}

#search-form button:hover {
  background-color: rgba(var(--c-accent), 0.8);
  color: rgba(var(--c-bg), 0.8);
}

.image-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .image-text-wrapper {
    flex-direction: column;
    align-items: center;
  } }


/* Style the dropdown button */
.dropbtn {
  color: var(--c-accent);
  padding: 16px 16px 0px 16px;
  text-decoration: none;
  display: inline-block;
}

/* Change color of the dropdown button on hover */
.dropdown:hover .dropbtn {
  color: var(--c-base);
}



/* Style the dropdown button to fit in with the list items */
.dropdown {
  display: inline-block;
  color: var(--c-accent);
}

/* Style the dropdown content box (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: var(--c-bg);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: var(--c-accent);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown when the user hovers over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--c-accent);
  color: var(--c-bg);
}

/* Change the color of the dropdown button on hover */
.dropdown:hover .dropbtn {
  color: var(--c-accent);
}

.artist_image_wrapper {
    width: 150px;  /* Change width to 150px */
    height: 150px; /* Change height to 150px */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 15px;
    flex-shrink: 0;
}

.artist_image {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensure the image covers the entire placeholder */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.artist_image.loaded {
    opacity: 1;
}

.placeholder-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
}

.track_item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.no-wrap-text {
    flex: 1;
}

.track_item_responsive {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center the items horizontally */
    text-align: center; /* Center the text */
}

@media (min-width: 769px) {
    .track_item_responsive {
        flex-direction: row; /* Revert to row layout on larger screens */
        text-align: left; /* Align text to the left */
    }
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
